In [1]:
a=10

In [2]:
a="c"

In [3]:
a

'c'

In [4]:
type(a)

str

In [5]:
int()

0

In [6]:
int("1223")

1223

In [7]:
int('1234')

1234

In [8]:
int(1344)

1344

In [9]:
int(saddj)

NameError: name 'saddj' is not defined

In [10]:
print("hello world")

hello world

In [11]:
print('Hello world')

Hello world

In [12]:
print('123')

123

In [13]:
print(123)

123

In [14]:
age=32
print('My age is:',age )

My age is: 32

In [15]:
print("My age is: {age}")

My age is: {age}

In [16]:
## f string used for the formating(to execute age)
print(f"My age is:{age}")

My age is:32

In [17]:
## format()
name="sagar"
age=23
print("my name is {} and age is {}".format(name,age))

my name is sagar and age is 23

In [18]:
print("my name is {} and age is {}".format(age,name))

my name is 23 and age is sagar

In [19]:
##placeholder
print("my name is {firstname} and age is {firstage}".format(firstage=age,firstname= name))

my name is sagar and age is 23

In [20]:
name="sagar"
age=23
degree="bsc in cbz"
postgraduate="msc gis"
"my age is 23 and i have completed my degree of bsc in cbz and postgraduate in msc gis with the name of sagar"

'my age is 23 and i have completed my degree of bsc in cbz and postgraduate in msc gis with the name of sagar'

In [21]:
print("my age is {} and my degree {} and my postgraduate {} with the name of {}".format(age,degree,postgraduate,name))

my age is 23 and my degree bsc in cbz and my postgraduate msc gis with the name of sagar

In [22]:
print(f"my age is {age}\nand i have completed \nmy degree in {degree} \nand postgraduation in {postgraduate} \nwith the name {name}")

my age is 23
and i have completed
my degree in bsc in cbz
and postgraduation in msc gis
with the name sagar

In [23]:
##control flow
##decision making statement

In [24]:
## If statements
age=18
if age >=18:
    print("you are elegible to voting")

you are elegible to voting

In [25]:
## if statement
age =17
if age < 18 :
    print("You are not elegible to voting")

You are not elegible to voting

In [26]:
18<=18

True

In [1]:
name=input("Enter the name")

Enter the name sagar

In [2]:
name

'sagar'

In [6]:
type(name)

str

In [3]:
age=int(input("enter your age"))

enter your age 23

In [4]:
age

23

In [5]:
type(age)

int

In [7]:
## Task
## Take a input of age
## Check whether ae >=18 and age<=45
## Display a message you are young blood

In [10]:
age=23

In [11]:
type(age)

int

In [12]:
age

23

In [16]:
if age >=18 :
    print("then you are young blood")

then you are young blood

In [22]:
if age <=45:
    print("then you are not young blood")

then you are not young blood

In [23]:
True and False

False

In [30]:
age=int(input("enter your age"))
if age>=18 and age<=45:
    print("you are young blood")

enter your age 23

you are young blood

In [40]:
23>=18 and 23<=45

True

In [46]:
age=int(input("enter your age"))
if age>=18 and age<=45:
    print("you are young blood")

enter your age 17

In [43]:
17>=23 and 23<=45

False

In [47]:
age=int(input("enter your age"))
if age>=18 and age<= 45:
    print("you are young blood")

enter your age 55

In [1]:
## if else statement

age=int(input("enter your age"))
if age>=18 and age <=45:
    print("you are young blood")
else:
    print("thank you your we will let you know")

enter your age 56

thank you your we will let you know

In [ ]:
## Mall- input the product price 
## Product >1000 rs 20% off
## Print the product price
## Product <=1000 rs 30% off
##print the product price after after removing the discount

In [10]:
product_price=int(input("enter the price"))
if product_price>1000:
    print("the price of the product is {}".format(product_price*0.8))
else:
    print("the price of the product is {}".format(product_price*0.7))

enter the price 5000

the price of the product is 4000.0

In [8]:
100-20,100-30

(80, 70)

In [9]:
(80/100),(70/100)

(0.8, 0.7)

In [11]:
(20/100)*5000

1000.0

In [12]:
product_price=int(input("enter the price"))
if product_price>1000:
    print("the price of the product is {}".format(product_price*0.8))
else:
    print("the price of the product is {}".format(product_price*0.7))

enter the price 10

the price of the product is 7.0

In [13]:
int((20/100)*5000)

1000

In [14]:
product_price=int(input("enter the price"))
if product_price>1000:
    print(f"the price of the product is {product_price*0.8}")
else:
    print("the price of the product is {product_price*0.7}")

enter the price 5000

the price of the product is 4000.0

In [15]:
## Mall- input the product price 
## Product >3000 rs 20% off
## print the product price after after removing the discount
## product >=2000 rs and <=3000 30% off 
## Print the product price after removing the discount
## Product <=1000 rs 30% off
##print the product price after after removing the discount

In [17]:
product_price=int(input("enter the price"))
if product_price>3000:
    print(f"the price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    print(f"the price of the product is {product_price*0.7}")
else:
    print("the price of the product is {}".format(product_price*0.6))

enter the price 5000

the price of the product is 4000.0

In [18]:
product_price=int(input("enter the price"))
if product_price>3000:
    print(f"the price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    print(f"the price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<=2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("lets drink tea")

enter the price 55

lets drink tea

In [ ]:
## Mall- input the product price 
## Product >3000 rs 20% off
## print the product price after after removing the discount
## product >=2000 rs and <=3000 30% off 
## Print the product price after removing the discount
## price ==2999 u will get additional gift
## Product <=1000 rs 30% off
## print the product price after after removing the discount

In [19]:
product_price=int(input("enter the price"))
if product_price>3000:
    print(f"the price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("congratulations you will get an additional gift")
    print(f"the price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<=2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("lets drink tea")

enter the price 2999

congratulations you will get an additional gift
the price of the product is 2099.2999999999997

In [ ]:
## Mall- input the product price 
## Product >3000 rs 20% off
## price is ==4000 you will get a trip to goa
## print the product price after after removing the discount
## product >=2000 rs and <=3000 30% off 
## Print the product price after removing the discount
## price ==2999 u will get additional gift
## Product <=1000 rs 30% off
## print the product price after after removing the discount

In [21]:
product_price=int(input("enter the price"))
if product_price>3000:
    if product_price==4000:
        print("congratulation you get a goa trip")
    print(f"the price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("congratulations you will get an additional gift")
    print(f"the price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<=2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("lets drink tea")
    print("i will also be there")

enter the price 50

lets drink tea
i will also be there

In [22]:
#comaparission operator
True==True

True

In [3]:
## Single statement
val=int(input('enter the number'))
if(val<=999):print("value is less than equal to 999")
else:
    print('Go home')

enter the number 1000

Go home

## Loops statements
1. while loop
2. for loop
3. nested loop
4. loop control(break,continue,pass)

In [7]:
# while lo0p
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

i need not to put "" in print joining_age

In [8]:
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("Its time to retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time to retirement

In [13]:
## Atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100

1000
900
800
700
600
500
400
300
200
100

In [16]:
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

## For loop

In [17]:
lst=["sagar",1,2,3,4,5,"apple","banana"]

In [19]:
type(lst)

list

In [23]:
lst

['sagar', 1, 2, 3, 4, 5, 'apple', 'banana']

In [25]:
lst[0]

'sagar'

In [27]:
lst[6]

'apple'

In [28]:
for x in lst:
    print(x)

sagar
1
2
3
4
5
apple
banana

In [40]:
fruits_list = ["Mango","Cherry","Apple","Pappaya","Banana"]

In [41]:
for a in fruits_list:
    print(a)

Mango
Cherry
Apple
Pappaya
Banana

In [45]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
Pappaya
Banana

In [47]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [48]:
fruit[3]

'g'

In [49]:
fruit[0]

'm'

In [51]:
fruit='mango'
for x in fruit:
    print(x,end='')

mango

In [58]:
fruit='mango'
for x in fruit:
    print(x,end='')

mango

In [59]:
## nested loop
n=7

In [60]:
range(1,6)

range(1, 6)

In [62]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [63]:
for i in range(1,6,2):
    print(i)

1
3
5

In [66]:
## neted loos
n=7
    
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")

****************************

In [67]:
for i in range(0,n):
    for j in range(0,i+1):
        print("*")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [68]:
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

if i dont enter backspace in 2nd print statement
then it works on only first condition

In [139]:
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("*"+"*"*i)

**
****
******
********
**********
************
**************

## Assignment
## required output is 
    *
   ***
  *****
 ********
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\")

In [110]:
##loop cotrols
##Break and continue
fruits_list=["Mango","Cherry","Apple","Papaya","Banana"]

In [114]:
## Break
for i in fruits_list:
    if i=="Apple":
        print("the fruit is apple")
        break
    print(i)

Mango
Cherry
the fruit is apple

here it pause the list what we have given 
by using condition

In [115]:
## Pass
for i in fruits_list:
    if i=="Apple":
        print("the fruit is apple")
        pass
    print(i)

Mango
Cherry
the fruit is apple
Apple
Papaya
Banana

here it simply pass the list by entering the condition

In [116]:
## Continue
for i in fruits_list:
    if i=="Apple":
        print("the fruit is apple")
        continue
    print(i)

Mango
Cherry
the fruit is apple
Papaya
Banana

here it skip the given data which we have given it to the condition